In [19]:
import pandas as pd
import string
import nltk

In [20]:
df = pd.read_csv("mypertamina_review.csv")
df

,content,score,at,Year,Month,Day
0,Ini mau scan struk..!tpi masuk aj susah...udah...,3,2018-09-12 16:02:28,2018,9,12
1,Error tolong perbaiki... konten berkahenergi.,3,2018-09-12 19:44:18,2018,9,12
2,Kenapa sih pas struknya discan gk bisa dan jug...,1,2018-09-12 23:17:19,2018,9,12
3,"Bagus aplikasi nya,. Semoga bermanfaat.. Tapi ...",5,2018-09-13 17:32:09,2018,9,13
4,Aplikasi ini masih goblog. Soalnya scan foto p...,1,2018-09-13 17:48:42,2018,9,13
...,...,...,...,...,...,...
46760,"Maaf saya kasih bintang 1.karena apa, data dir...",1,2022-09-29 18:17:24,2022,9,29
46761,Sangat ribet apalagi costumer pertamina bukan ...,1,2022-09-29 18:36:05,2022,9,29
46762,Sisa kuota bbm subsidi tidak ditampilkan sekar...,2,2022-09-29 19:35:01,2022,9,29
46763,Emil salah ngga ada fitur buat ngganti Telpon ...,1,2022-09-29 19:36:25,2022,9,29
46764,Ribet Tiap login wajib verifikasi kode lewat e...,1,2022-09-29 19:59:09,2022,9,29

In [21]:
sentimen = []
for index, row in df.iterrows():
    if row['score'] > 3 :
        sentimen.append("Positif")
    elif row['score'] == 3:
        sentimen.append("Netral")
    else:
        sentimen.append("Negatif")
df['sentiment'] = sentimen
df.head()

,content,score,at,Year,Month,Day,sentiment
0,Ini mau scan struk..!tpi masuk aj susah...udah...,3,2018-09-12 16:02:28,2018,9,12,Netral
1,Error tolong perbaiki... konten berkahenergi.,3,2018-09-12 19:44:18,2018,9,12,Netral
2,Kenapa sih pas struknya discan gk bisa dan jug...,1,2018-09-12 23:17:19,2018,9,12,Negatif
3,"Bagus aplikasi nya,. Semoga bermanfaat.. Tapi ...",5,2018-09-13 17:32:09,2018,9,13,Positif
4,Aplikasi ini masih goblog. Soalnya scan foto p...,1,2018-09-13 17:48:42,2018,9,13,Negatif

In [22]:
df['sentiment'].value_counts()

Negatif    41562
Positif     3803
Netral      1400
Name: sentiment, dtype: int64

In [23]:
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\RanggaSaputra\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\RanggaSaputra\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\RanggaSaputra\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [24]:
#Remove Url
df['content'] = df['content'].str.replace('https\S+', ' ', case=False)

C:\Users\RanggaSaputra\AppData\Local\Temp\ipykernel_15036\3186891149.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['content'] = df['content'].str.replace('https\S+', ' ', case=False)

In [25]:
#Merubah Teks Jadi Lower Case
df['content'] = df['content'].str.lower()

In [26]:
#Remove Mention
df['content'] = df['content'].str.replace('@\S+', ' ', case=False)

C:\Users\RanggaSaputra\AppData\Local\Temp\ipykernel_15036\122392825.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['content'] = df['content'].str.replace('@\S+', ' ', case=False)

In [27]:
#Remove Hastag
df['content'] = df['content'].str.replace('#\S+', ' ', case=False)

C:\Users\RanggaSaputra\AppData\Local\Temp\ipykernel_15036\3063097289.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['content'] = df['content'].str.replace('#\S+', ' ', case=False)

In [28]:
#Remove next character
df['content'] = df['content'].str.replace("\'\w+", ' ', case=False)

C:\Users\RanggaSaputra\AppData\Local\Temp\ipykernel_15036\2690599346.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['content'] = df['content'].str.replace("\'\w+", ' ', case=False)

In [29]:
#Remove Punctuation
df['content'] = df['content'].str.replace("[^\w\s]", ' ', case=False)

C:\Users\RanggaSaputra\AppData\Local\Temp\ipykernel_15036\2661083868.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['content'] = df['content'].str.replace("[^\w\s]", ' ', case=False)

In [30]:
#Remove extra whitespace
df['content'] = df['content'].str.replace("\s(2)", ' ', case=False)

C:\Users\RanggaSaputra\AppData\Local\Temp\ipykernel_15036\2747544112.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['content'] = df['content'].str.replace("\s(2)", ' ', case=False)

In [31]:
df.content

0        ini mau scan struk   tpi masuk aj susah   udah...
1            error tolong perbaiki    konten berkahenergi
2        kenapa sih pas struknya discan gk bisa dan jug...
3        bagus aplikasi nya   semoga bermanfaat   tapi ...
4        aplikasi ini masih goblog  soalnya scan foto p...
                               ...
46760    maaf saya kasih bintang 1 karena apa  data dir...
46761    sangat ribet apalagi costumer pertamina bukan ...
46762    sisa kuota bbm subsidi tidak ditampilkan sekar...
46763    emil salah ngga ada fitur buat ngganti telpon ...
46764    ribet tiap login wajib verifikasi kode lewat e...
Name: content, Length: 46765, dtype: object

In [32]:
df.isnull().sum()

content      0
score        0
at           0
Year         0
Month        0
Day          0
sentiment    0
dtype: int64

In [33]:
nan = df[pd.isnull(df['content'])]
print(nan.shape)
nan.head()

(0, 7)

Empty DataFrame
Columns: [content, score, at, Year, Month, Day, sentiment]
Index: []

In [34]:
df.dropna(axis=0, inplace=True)
df.head()

,content,score,at,Year,Month,Day,sentiment
0,ini mau scan struk tpi masuk aj susah udah...,3,2018-09-12 16:02:28,2018,9,12,Netral
1,error tolong perbaiki konten berkahenergi,3,2018-09-12 19:44:18,2018,9,12,Netral
2,kenapa sih pas struknya discan gk bisa dan jug...,1,2018-09-12 23:17:19,2018,9,12,Negatif
3,bagus aplikasi nya semoga bermanfaat tapi ...,5,2018-09-13 17:32:09,2018,9,13,Positif
4,aplikasi ini masih goblog soalnya scan foto p...,1,2018-09-13 17:48:42,2018,9,13,Negatif

In [35]:
df.isnull().sum()

content      0
score        0
at           0
Year         0
Month        0
Day          0
sentiment    0
dtype: int64

In [36]:
df.to_csv("mypertamina_review2.csv",encoding='utf-8', index=False)